<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Busqueda de Encomiendas</h3>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
      <form class="form-horizontal form-label-left" novalidate="" ng-submit="buscar()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="origen">Origen
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control select2-filtro" style="width: 100%;" name="origen">
              <option></option>
              <option ng-repeat="iter in terminales" value="{{ iter.id }}">{{ iter.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="destino">Destino
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="form-control select2-filtro" style="width: 100%;" name="destino">
              <option></option>
              <option ng-repeat="iter in terminales" value="{{ iter.id }}">{{ iter.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Emisor </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" ng-model="emisorStrg" ng-blur="buscarUsuario('emisorStrg', 'emisor')">
            <p class="help-block">Si el emisor esta registrado ingrese el email para buscar sus datos</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ciEmisor">Cedula de emisor
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="ciEmisor" class="form-control col-md-7 col-xs-12" ng-model="filtro.ciEmisor">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="receptor">Receptor</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="receptor" class="form-control col-md-7 col-xs-12" ng-model="receptorStrg" ng-blur="buscarUsuario('receptorStrg', 'receptor')">
            <p class="help-block">Si el receptor esta registrado ingrese el email para buscar sus datos</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ciReceptor">Cedula de receptor
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="ciReceptor" name="ciReceptor" class="form-control col-md-7 col-xs-12" ng-model="filtro.ciReceptor">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechaAlta">Fecha de alta</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="fechaAlta" name="fechaAlta" class="form-control col-md-7 col-xs-12" ng-model="filtro.fechaIngreso">
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-success" ng-disabled="buscando">Buscar</button>
          </div>
        </div>
      </form>

    <div class="x_title">
      <h2>Resultado de busqueda</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Emisor</th>
            <th>Receptor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="encomienda in encomiendas">
          	<td>{{ getEmisor(encomienda) }}</td>
            <td>{{ getReceptor(encomienda) }}</td>
            <td>
              <div class="btn-group">
                <a href="#/encomiendas/edit/{{encomienda.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>