<div class="row">
	<div class="col-md-4">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Detalle</h3>
      </div>
      <div class="box-body">
        <p><strong><i class="fa fa-map margin-r-5"></i> Origien y Destino</strong></p>
        <p>Montevideo <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> Paysandu</p>
        <hr>
        <p><i class="fa fa-map-marker margin-r-5"></i> Linea 150</p>
        <hr>
        <p><i class="fa fa-calendar margin-r-5"></i> 08:05 a 11:05</p>
        <hr>
        <strong><i class="fa fa-file-text-o margin-r-5"></i> Descripci&oacute;n</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <form role="form">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Procesar pago</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-4">
              <p class="lead">Metodos de pago:</p>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="paypal" checked>
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="visa">
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="master">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="amex">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="cuponera">
                    <strong>Cuponera $30.000</strong>
                  </label>
                </div>
              </div>  
            </div>
            <div class="col-xs-8">
            <p class="lead">Monto a pagar</p>

            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th style="width:50%">Precio por pasaje:</th>
                    <td>$250,5</td>
                  </tr>
                  <tr>
                    <th>Cantidad de pasajes</th>
                    <td><input type="number" name="cantida" value="1" align="right" /></td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>$250,5</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
        <div class="box-footer">
          <a class="btn btn-success pull-right">Confirmar Pago</a>
        </div>
      </form>
    </div>
  </div>
</div>