<div class="row">
  <div class="col-md-12">
    <form name="cuponeraForm" ng-submit="procesarRecarga()" novalidate>
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Recargar cuponera</h3>
        </div>
        <div class="box-body">
           <table class="table">
             <tbody>
               <tr>
                 <th style="width:30%"><p class="text-success">Monto actual:</p></th>
                 <td><p class="text-success"><strong>${{ usuarioLogueado.cuponera.saldo }}</strong></p></td>
               </tr>
               <tr>
                 <th>Recargar:</th>
                 <td>
                   <div class="input-group">
                     <span class="input-group-addon" style="padding:6px 12px 4px 12px; border:0;"><i class="fa fa-dollar"></i></span>
                     <input type="number" name="recarga" align="right" ng-model="recarga" />
                   </div>
                 </td>
               </tr>
             </tbody>
           </table>
           <div ng-if="!usuarioLogueado.ultimosCuatroDigitos">
         	<div class='form-row'>
	          <div class='col-xs-12 form-group card required'>
	            <label class='control-label'>Numero de tarjeta</label>
	            <input autocomplete='off' class='form-control card-number' size='20' type='text' ng-model='tarjeta.numero'>
	          </div>
	        </div>
	        <div class='form-row'>
	          <div class='col-xs-4 form-group cvc required'>
	            <label class='control-label'>CVC</label>
	            <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 123' size='4' type='text' ng-model='tarjeta.cvc'>
	          </div>
	          <div class='col-xs-4 form-group expiration required'>
	            <label class='control-label'>Vencimiento</label>
	            <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' ng-model='tarjeta.mm'>
	          </div>
	          <div class='col-xs-4 form-group expiration required'>
	            <label class='control-label'> </label>
	            <input class='form-control card-expiry-year' placeholder='YY' size='2' type='text' ng-model='tarjeta.yy'>
	          </div>
	        </div>
	        </div>
         </div>  
       </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-success pull-right" ng-click="submitted=true">Recargar</button>
        </div>
      </form>
    </div>
  </div>
</div>