<div class="row">
  <div class="col-md-12">
    <form role="form">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Recargar cuponera</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-7">
              <p class="lead">Cuponera</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><p class="text-success">Monto actual:</p></th>
                      <td><p class="text-success"><strong>$250,5</strong></p></td>
                    </tr>
                    <tr>
                      <th>Recargar:</th>
                      <td>
                        <div class="input-group">
                          <span class="input-group-addon" style="padding:6px 12px 4px 12px; border:0;"><i class="fa fa-dollar"></i></span>
                          <input type="number" name="recarga" align="right"/>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-5">
              <p class="lead">Metodos de pago:</p>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="paypal" checked>
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="visa">
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="master">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="pagos" value="amex">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                  </label>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="box-footer">
          <a class="btn btn-success pull-right">Recargar</a>
        </div>
      </form>
    </div>
  </div>
</div>