<div class="row">
	<div class="col-md-4">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Detalle</h3>
      </div>
      <div class="box-body">
        <p><strong><i class="fa fa-map margin-r-5"></i> Origien y Destino</strong></p>
        <p>{{ viaje.recorrido.puntosDeRecorrido[0].nombre }} <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> {{ viaje.recorrido.puntosDeRecorrido[viaje.recorrido.puntosDeRecorrido.length - 1].nombre }}</p>
        <hr>
        <p><i class="fa fa-map-marker margin-r-5"></i> {{ viaje.recorrido.nombre }}</p>
        <hr>
        <p><i class="fa fa-calendar margin-r-5"></i> {{ viaje.fechaSalida | date : 'dd/MM/yy' }} a {{ viaje.llegada }}</p>
        <hr>
        <strong><i class="fa fa-file-text-o margin-r-5"></i> Descripci&oacute;n</strong>
        <p>{{ viaje.descripcion }}</p>
      </div>
      <div class="box-footer">
        <a ng-if="usuarioLogueado" class="btn btn-info pull-left" ng-click="mostrarReservar()">Reservar</a>
        <a ng-if="usuarioLogueado" href="#/comprar/{{ viaje.id }}" class="btn btn-success pull-right">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Recorrido</h3>
      </div>
      <div class="box-body">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        	<ui-gmap-polyline path="recorrido.path" visible='recorrido.visible' stroke="recorrido.stroke" geodesic='recorrido.geodesic' fit="false" icons='recorrido.icons'></ui-gmap-polyline>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-reservar">
    <div class="modal-dialog">
        <div class="modal-content">
          <form name="reservarForm" ng-submit="reservar()" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Reservar Pasaje</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>{{ viaje.recorrido.puntosDeRecorrido[0].nombre }} <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> {{ viaje.recorrido.puntosDeRecorrido[viaje.recorrido.puntosDeRecorrido.length - 1].nombre }}</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>{{ viaje.recorrido.nombre }}</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>{{ viaje.fechaSalida | date : 'dd/MM/yy' }} a {{ viaje.llegada }}</p>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-success pull-right">Reservar</button>
            </div>
          </form>
        </div>
    </div>
</div>