<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Encomiendas</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Fecha Ingreso</th>
            <th>Estado</th>
            <th>&Uacute;ltima Actualizaci&oacute;n</th>
            <th>Ubicaci&oacute;n</th>
            <th></th>
          </tr>
          <tr>
            <td>23/06/16</td>
            <td>En viaje</td>
            <td>25/06/16</td>
            <td>Colonia</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle"><i class="fa fa-search"></i></a>
            </td>
          </tr>
          <tr>
            <td>23/06/16</td>
            <td>En viaje</td>
            <td>25/06/16</td>
            <td>Colonia</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle"><i class="fa fa-search"></i></a>
            </td>
          </tr>
          <tr>
            <td>23/06/16</td>
            <td>En viaje</td>
            <td>25/06/16</td>
            <td>Colonia</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle"><i class="fa fa-search"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>