<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Historial de compras</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Linea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Asientos</th>
            <th></th>
          </tr>
          <tr>
            <td>1</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>
              <a class="btn btn-danger btn-flat btn-sm" title="cancelar reserva"><i class="fa fa-remove"></i></a>
              <a href="#/comprar-reserva/1" class="btn btn-success btn-flat btn-sm" title="comprar"><i class="fa fa-dollar"></i></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>
              <a class="btn btn-danger btn-flat btn-sm" title="cancelar reserva"><i class="fa fa-remove"></i></a>
              <a href="#/comprar-reserva/1" class="btn btn-success btn-flat btn-sm" title="comprar"><i class="fa fa-dollar"></i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>
              <a class="btn btn-danger btn-flat btn-sm" title="cancelar reserva"><i class="fa fa-remove"></i></a>
              <a href="#/comprar-reserva/1" class="btn btn-success btn-flat btn-sm" title="comprar"><i class="fa fa-dollar"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>