<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Historial de reservas</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Fecha</th>
            <th>Linea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Asientos</th>
            <th></th>
          </tr>
          <tr ng-repeat="reserva in reservas">
            <td>{{ reserva.fecha || 'dd/MM/yy' }}</td>
            <td>{{ reserva.recorrido.nombre }}</td>
            <td>{{ reserva.origen.nombre }}</td>
            <td>{{ reserva.destino.nombre }}</td>
            <td>{{ reserva.cantidad }}</td>
            <td>
              <a class="btn btn-danger btn-flat btn-sm" title="cancelar reserva" ng-click="cancelar(reserva)"><i class="fa fa-remove"></i></a>
              <a href="#/comprar-reserva/{{ reserva.id }}" class="btn btn-success btn-flat btn-sm" title="comprar"><i class="fa fa-dollar"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>