<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Historial de notificaciones</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Fecha</th>
            <th>Mensaje</th>
          </tr>
          <tr ng-repeat="notifiacion in notificaciones">
            <td>{{ notifiacion.fecha || 'dd/MM/yy' }}</td>
            <td>{{ notifiacion.mensaje }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>