<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Historial de compras</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Linea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Asientos</th>
            <th>Precio</th>
            <th></th>
          </tr>
          <tr>
            <td>1</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>$250</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle" ng-click="mostrarInfo()"><i class="fa fa-search"></i></a>
              <a class="btn btn-info btn-flat btn-sm" title="cambiar horario" ng-click="cambiarHorario()"><i class="fa fa-calendar"></i></a>
              <a class="btn btn-success btn-flat btn-sm" title="transferir pasaje" ng-click="transferirPasaje()"><i class="fa fa-exchange"></i></a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>$250</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle" ng-click="mostrarInfo()"><i class="fa fa-search"></i></a>
              <a class="btn btn-info btn-flat btn-sm" title="cambiar horario" ng-click="cambiarHorario()"><i class="fa fa-calendar"></i></a>
              <a class="btn btn-success btn-flat btn-sm" title="transferir pasaje" ng-click="transferirPasaje()"><i class="fa fa-exchange"></i></a>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>23/06/16</td>
            <td>150</td>
            <td>Montevideo</td>
            <td>Paysandu</td>
            <td>3</td>
            <td>$250</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle" ng-click="mostrarInfo()"><i class="fa fa-search"></i></a>
              <a class="btn btn-info btn-flat btn-sm" title="cambiar horario" ng-click="cambiarHorario()"><i class="fa fa-calendar"></i></a>
              <a class="btn btn-success btn-flat btn-sm" title="transferir pasaje" ng-click="transferirPasaje()"><i class="fa fa-exchange"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Detalle</h4>
            </div>
            <div class="modal-body">
                <p><strong><i class="fa fa-dollar margin-r-5"></i> Medio de pago</strong></p>
                <p>Paypal</p>
                <hr>
                <p><i class="fa fa-calendar margin-r-5"></i> 08:05 a 11:05</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cambiar-horario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Cambiar Horario</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>Montevideo <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> Paysandu</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>Linea 150</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>08:05 a 11:05</p>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="text-align:left;">
              <table class="table table-hover">
                <caption>Horarios</caption>
                <tr>
                  <th>Fecha</th>
                  <th>Salida</th>
                  <th>Llegada</th>
                  <th></th>
                </tr>
                <tr>
                  <td>25/06/16</td>
                  <td>08:05</td>
                  <td>11:05</td>
                  <td>
                    <a class="btn btn-success btn-flat btn-xs"><i class="fa fa-check"></i></a>
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-transferir-pasaje">
    <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Transferir Pasaje</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>Montevideo <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> Paysandu</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>Linea 150</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>08:05 a 11:05</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Transferir pasaje a</label>
                    <select class="form-control select2">
                      <option selected="selected">andrulo</option>
                      <option>dario</option>
                      <option>rodrigo</option>
                      <option>maxi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <a class="btn btn-success pull-right">Transferir</a>
            </div>
          </form>
        </div>
    </div>
</div>