<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <h2 class="box-title">Historial de compras</h2>
      </div>
      
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Fecha</th>
            <th>Linea</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Asientos</th>
            <th>Precio</th>
            <th></th>
          </tr>
          <tr ng-repeat="compra in compras">
            <td>{{ compra.fecha || 'dd/MM/yy' }}</td>
            <td>{{ compra.viaje.recorrido.nombre }}</td>
            <td>{{ compra.origen.nombre }}</td>
            <td>{{ compra.destino.nombre }}</td>
            <td>{{ compra.cantidad }}</td>
            <td>${{ compra.precio }}</td>
            <td>
              <a class="btn btn-primary btn-flat btn-sm" title="detalle" ng-click="mostrarInfo(compra)"><i class="fa fa-search"></i></a>
              <a class="btn btn-info btn-flat btn-sm" title="cambiar horario" ng-click="mostrarHorarios(compra)"><i class="fa fa-calendar"></i></a>
              <a class="btn btn-success btn-flat btn-sm" title="transferir pasaje" ng-click="mostrarPasajes(compra)"><i class="fa fa-exchange"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Detalle</h4>
            </div>
            <div class="modal-body">
                <p><strong><i class="fa fa-dollar margin-r-5"></i> Medio de pago</strong></p>
                <p>{{ info.medioPago }}</p>
                <hr>
                <p><i class="fa fa-calendar margin-r-5"></i> {{ info.salida }} a {{ info.llegada }}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cambiar-horario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Cambiar Horario</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>{{ info.origen.nombre }} <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> {{ info.destino.nombre }} </p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>{{ info.viaje.recorrido.nombre }} </p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>{{ info.salida }} a {{ info.llegada }}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer" style="text-align:left;">
              <table class="table table-hover">
                <caption>Horarios</caption>
                <tr>
                  <th>Fecha</th>
                  <th>Salida</th>
                  <th>Llegada</th>
                  <th></th>
                </tr>
                <tr ng-repeat="horario in horarios">
                  <td>{{ horario.fecha || 'dd/MM/yy' }}</td>
                  <td>{{ horario.salida }}</td>
                  <td>{{ horario.llegada }}</td>
                  <td>
                    <a class="btn btn-success btn-flat btn-xs" ng-click="cambiarHorario(info.id, horario)"><i class="fa fa-check"></i></a>
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-transferir-pasaje">
    <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Transferir Pasaje</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>{{ info.origen.nombre }} <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> {{ info.destino.nombre }} </p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>{{ info.viaje.recorrido.nombre }} </p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>{{ info.salida }} a {{ info.llegada }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>Transferir pasaje a</label>
                    <select class="form-control select2" style="width: 100%;">
                    	<option></option>
                      	<option ng-repeat="usuario in usuarios" value="{{ usuario.id }}" ng-if="usuarioLogueado.id != usuario.id">{{ usuario.nombre }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <a class="btn btn-success pull-right" ng-click="transferirPasaje(info.id)">Transferir</a>
            </div>
          </form>
        </div>
    </div>
</div>