<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h2 class="box-title">¿A dónde querés ir?</h2>
      </div>
      <form role="form">
        <div class="box-body">
          <div class="row">
      			<div class="col-md-6 form-group">
      				<label>Origen</label>
      				<select class="form-control select2" style="width: 100%;" name="origen">
      					<option></option>
      					<option ng-repeat="terminal in terminales" value="{{ terminal.id }}">{{ terminal.nombre }}</option>
      				</select>
      			</div>
            <div class="col-md-6 form-group">
              <label>Destino</label>
              <select class="form-control select2" style="width: 100%;" name="destino">
              	<option></option>
                <option ng-repeat="terminal in terminales" value="{{ terminal.id }}">{{terminal.nombre}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group">
              <label>Fecha de Ida:</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right datepicker" name="fechaIda">
              </div>
            </div>
			    </div>
          <div class="box-group" id="accordion">
            <div class="panel box box-primary">
              <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse" style="cursor:pointer">
                <div class="box-header">
                  <h4 class="box-title">
                      Busqueda Avanzada
                  </h4>
                </div>
              </a>
              <div id="collapse" class="row panel-collapse collapse">
                <div class="box-body">
                  <div class="col-md-6 form-group">
                    <label>Lineas</label>
                    <select class="form-control select2" style="width: 100%;" name="recorrido">
                    	<option></option>
                      	<option ng-repeat="recorrido in recorridos" value="{{ recorrido.id }}">{{ recorrido.nombre }}</option>
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Viajes</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="viajes" value="todos" ng-model="filter.viajes">
                        No aplica
                      </label>
                      &nbsp;&nbsp;|&nbsp;&nbsp;
                      <label>
                        <input type="radio" name="viajes" value="directos" ng-model="filter.viajes">
                        Solo viajes directos
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Asientos</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="asientos" value="todos" ng-model="filter.asientos">
                        No aplica
                      </label>
                      &nbsp;&nbsp;|&nbsp;&nbsp;
                      <label>
                        <input type="radio" name="asientos" value="disponible" ng-model="filter.asientos">
                        Solo asientos disponibles
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <!-- <div class="pull-left">
            <div class="radio">
              <label>
                <input type="radio" name="idaVuelta" value="vuelta" ng-model="filter.idaVuelta">
                Ida y Vuelta
              </label>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <label>
                <input type="radio" name="idaVuelta" value="ida" ng-model="filter.idaVuelta">
                Solo  Ida
              </label>
            </div>
          </div> -->
          <button type="button" class="btn btn-info pull-right" ng-click="buscar()">Buscar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row" ng-if="resultados.length">
  <div class="col-md-12 col-xs-12">
    <div class="box box-success">
      <div class="box-header">
        <h2 class="box-title">Resultado de busqueda</h2>
      </div>
      
      <div class="box-body table-responsive">
        <!-- <blockquote>
          <p>Linea 1</p>
        </blockquote> -->
        <table class="table table-hover">
          <tr>
            <th>Salida</th>
            <th>Llegada</th>
            <th>Origen</th>
            <th>Destino</th>
            <th></th>
          </tr>
          <tr ng-repeat="resultado in resultados">
            <td>{{ resultado.fechaSalida | date : 'dd/MM/yy' }}</td>
            <td>{{ resultado.llegada }}</td>
            <td>{{ resultado.recorrido.puntosDeRecorrido[0].nombre }}</td>
            <td>{{ resultado.recorrido.puntosDeRecorrido[resultado.recorrido.puntosDeRecorrido.length - 1].nombre }}</td>
            <td>
              <a href="#/detalle/{{ resultado.id }}" class="btn btn-primary btn-flat btn-sm" title="detalle"><i class="fa fa-search"></i></a>
              <a ng-if="usuarioLogueado" class="btn btn-info btn-flat btn-sm" title="reservar" ng-click="mostrarReservar(resultado)"><i class="fa fa-bookmark"></i></a>
              <a href="#/comprar/{{ resultado.id }}" class="btn btn-success btn-flat btn-sm" title="comprar"><i class="fa fa-dollar"></i></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-reservar">
    <div class="modal-dialog">
        <div class="modal-content">
          <form name="reservarForm" ng-submit="reservarForm.$valid && reservar()" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Reservar Pasaje</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-4">
                  <p><strong>Origien y Destino</strong></p>
                  <p>{{ info.recorrido.puntosDeRecorrido[0].nombre }} <i class="fa fa-arrow-right margin-r-5 margin-l-5"></i> {{ info.recorrido.puntosDeRecorrido[info.recorrido.puntosDeRecorrido.length - 1].nombre }}</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Linea</strong></p>
                  <p>{{ info.recorrido.nombre }}</p>
                </div>
                <div class="col-xs-4">
                  <p><strong>Horario</strong></p>
                  <p>{{ info.fechaSalida | date : 'dd/MM/yy' }} a {{ info.llegada }}</p>
                </div>
              </div>
              <hr>
              <!-- <div class="row">
                <div class="col-xs-12">
                  <div class="form-group" ng-class="{ 'has-error' : submitted && reservarForm.cantidad.$invalid }">
                    <label>Cantidad de pasajes</label>
                    <input class="form-control" type="number" name="cantida" value="1" align="right" ng-model="reservarData.cantidad" required/>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-success pull-right" ng-click="submitted=true">Reservar</button>
            </div>
          </form>
        </div>
    </div>
</div>