
<div class="login-box">
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Iniciar Sesi&oacute;n</p>

    <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : submitted && loginForm.usuario.$invalid }">
        <input type="email" class="form-control" placeholder="Email" ng-model="usuario.usuario" name="usuario" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <p class="help-block" ng-show="submitted && loginForm.usuario.$error.email"">Ingrese un email valido.</p>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : submitted && loginForm.clave.$invalid }">
        <input type="password" class="form-control" placeholder="Clave" ng-model="usuario.clave" name="clave" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="submitted=true">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- O -</p>
      <a class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Ingresar usando
        Facebook</a>
    </div>
    <!-- /.social-auth-links -->

    <a href="#/registro" class="text-center">Registrarse</a>

  </div>
  <!-- /.login-box-body -->
</div>
