<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Vehiculos en Mantenimiento</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">

	<table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Matricula</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>A&ntilde;o de fabricacion</th>
            <th>Cantidad de asientos</th>
            <th>Finalizar Mantenimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="vehiculo in vehiculos">
            <td>{{vehiculo.numeroVehiculo}}</td>
            <td>{{vehiculo.matricula}}</td>
            <td>{{vehiculo.marca}}</td>
            <td>{{vehiculo.modelo}}</td>
            <td>{{vehiculo.anioFabricacion}}</td>
            <td>{{vehiculo.cantidadAsientos}}</td>
             <td>
              <div class="btn-group">
                <a href="#/mantenimiento/finalizar/{{vehiculo.id}}" class="btn btn-info btn-xs"><i class="fa fa-thumbs-up"></i> </a>        
              </div>
            </td>
          </tr>
      </table>
    </div>
    <div class="x_content">

    

    </div>