 <div class="page-title">
   <div class="title_left">
     <h3>Detalle</h3>
   </div>
 </div>
 
 <div class="clearfix"></div>

 <div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
       <div class="x_content">
         <div class="col-md-7 col-sm-7 col-xs-12">
           	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
        		<ui-gmap-polyline path="recorrido.path" visible='recorrido.visible' stroke="recorrido.stroke" geodesic='recorrido.geodesic' fit="false" icons='recorrido.icons'></ui-gmap-polyline>
        	</ui-gmap-google-map>
         </div>

         <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

           <h3 class="prod_title">{{ viaje.recorrido.nombre }}</h3>

           <p>{{ viaje.fechaSalida | date : 'dd/MM/yy' }} a {{ viaje.horario.nombre }}</p>

           <br />

           <div class="x_title">
               <h4> Coches <a class="btn btn-default btn-xs" ng-click="addRelation()"><i class="fa fa-plus"></i></a></h4>
               <div class="clearfix"></div>
           </div>
           <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="coche in coches" style="margin-top:10px;">
               <div class="form-group">
                 <label>N&uacute;mero de coche</label>
                 <input type="text" class="form-control" ng-blur="buscarCoche({{$index}})">
               </div>
               <a class="btn btn-default" style="margin:0;" ng-click="removeRelation($index)"><i class="fa fa-remove"></i></a>
           </div>

           <div>
             <button type="button" style="margin-top: 10px;" class="btn btn-success btn-lg pull-right" ng-click="editarViaje()">Guardar</button>
           </div>

         </div>

       </div>
     </div>
   </div>
 </div>
