<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Empleados</h3>
    </div>

    <div class="title_right">
      <div class="pull-right">
        <a href="#/empleados/add" class="btn btn-info">Agregar</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listado de empleados</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Perfil</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="empleado in empleados">
            <td>{{empleado.nombrePila}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.perfil.nombrePerfil}}</td>
            <td>
              <div class="btn-group">
                <a href="#/empleados/edit/{{empleado.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>