<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Configuraci&oacute;n b&aacute;lsica de empresa</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Editar configuraci&oacute;n</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="edit()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombreEmpresa">Nombre de empresa <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombreEmpresa" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4> Emails </h4>
            <a class="btn btn-default" style="margin:0;" ng-click="addRelation('email')"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="mail in emailsEmpresa" style="margin-top:10px;">
            <div class="form-group">
                <label>Descripcion</label>
                <input type="text" class="form-control" ng-model="mail.descripcion">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" step="0,01" class="form-control" ng-model="mail.email">
            </div>
            <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('email', $index)"><i class="fa fa-remove"></i></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4> Tel&eacute;fonos </h4>
            <a class="btn btn-default" style="margin:0;" ng-click="addRelation('tels')"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="tels in telsEmpresa" style="margin-top:10px;">
            <div class="form-group">
                <label>Descripcion</label>
                <input type="text" class="form-control" ng-model="tels.descripcion">
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input type="text" step="0,01" class="form-control" ng-model="tels.telefono">
            </div>
            <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('tels', $index)"><i class="fa fa-remove"></i></a>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlAcceso">URL de acceso web <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="urlAcceso" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.urlAcceso"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aceptaCuponera">Acepta cuponera <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="aceptaCuponera" data-parsley-id="0978" ng-model="configuracion.aceptaCuponera" class="flat" ng-checked="configuracion.aceptaCuponera">             
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlLDAP">URL de servidor LDAP <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="urlLDAP" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.urlLdap"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuarioLdap">Usuario de acceso de servidor LDAP <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="usuarioLdap" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.usuarioLdap"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="claveLdap">Clave de acceso de servidor LDAP <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" id="claveLdap" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.claveLdap"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activarAcceso">Activar/desactivar acceso <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="activarAcceso" data-parsley-id="0978" ng-model="configuracion.activo" class="flat" ng-checked="configuracion.activo">
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pagoOnlineCoche">Aceptar pago online en coche <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="pagoOnlineCoche" data-parsley-id="0978" ng-model="configuracion.pagoOnlineCoche" class="flat" ng-checked="configuracion.pagoOnlineCoche">
              </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reservaPasajes">Habilitar reserva de pasajes <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="reservaPasajes" data-parsley-id="0978" ng-model="configuracion.reservaPasajes" class="flat" ng-checked="configuracion.reservaPasajes">
              </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validesReservasHoras">Valides de reservas en horas <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="validesReservasHoras" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.validesReservasHoras"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trasferirPasajes">Habilitar transferencia de pasajes <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="trasferirPasajes" data-parsley-id="0978" ng-model="configuracion.trasferirPasajes" class="flat" ng-checked="configuracion.trasferirPasajes">
              </label>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/configuracion" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>