<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Configuraci&oacute;n b&aacute;lsica de empresa</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <form class="form-horizontal form-label-left" novalidate="" ng-submit="edit()">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombreEmpresa">Nombre de empresa</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombreEmpresa" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlAcceso">URL de acceso web</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-7 col-xs-12" ng-model="configuracion.urlAcceso">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlLDAP">URL de servidor LDAP</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="urlLDAP" class="form-control col-md-7 col-xs-12" ng-model="configuracion.urlLdap" placeholder="ldap://IP o DOMINIO:389">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="baseLdap">Dominio LDAP
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="baseLdap" class="form-control col-md-7 col-xs-12" ng-model="configuracion.baseLdap" placeholder="servidorldap.dominio.com">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="configuracion.aceptaCuponera"> Acepta cuponera
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="configuracion.activo"> Activar acceso
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="configuracion.pagoOnlineCoche"> Aceptar pago online en coche
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="configuracion.reservaPasajes"> Habilitar reserva de pasajes
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="diasCreacionViaje">Valides de reservas en horas</label>
          <div class="col-md-1 col-sm-1 col-xs-12">
            <input type="text" id="diasCreacionViaje" class="form-control" ng-model="configuracion.diasCreacionViaje">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validesReservasHoras">Cantiadad de dias para autogenerar viajes</label>
          <div class="col-md-1 col-sm-1 col-xs-12">
            <input type="text" id="validesReservasHoras" class="form-control" ng-model="configuracion.validesReservasHoras">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="configuracion.trasferirPasajes"> Habilitar transferencia de pasajes
              </label>
            </div>
          </div>
        </div>
    	<div class="x_title">
	         <h4> Email <a class="btn btn-default btn-xs" ng-click="addRelation('email')"><i class="fa fa-plus"></i></a></h4>
	         <div class="clearfix"></div>
     	</div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="mail in emailsEmpresa"  style="margin-top:10px;">
                <div class="form-group">
                    <label>Descripcion</label>
                    <input type="text" class="form-control" ng-model="mail.descripcion">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="mail.email">
                </div>
                <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('email', $index)"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="x_title">
	         <h4> Tel&eacute;fonos <a class="btn btn-default btn-xs" ng-click="addRelation('tels')"><i class="fa fa-plus"></i></a></h4>
	         <div class="clearfix"></div>
     	</div>
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="tels in telsEmpresa" style="margin-top:10px;">
                <div class="form-group">
                    <label>Descripcion</label>
                    <input type="text" class="form-control" ng-model="tels.descripcion">
                </div>
                <div class="form-group">
                    <label>Tel&eacute;fono</label>
                    <input type="text" class="form-control" ng-model="tels.telefono">
                </div>
                <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('tels', $index)"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="x_title">
            <h2>Editar UI de las Aplicaciones de Android (Guarda y Encomiendas)</h2>
            <div class="clearfix"></div>
        </div>
        <!--<div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="iconoEmpresa">iconoEmpresa</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-7 col-xs-12" ng-model="configuracion.iconoEmpresa">
          </div>
        </div>
        -->
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorFondosDePantalla">colorFondosDePantalla</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorFondosDePantalla" ng-model="configuracion.colorFondosDePantalla">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorTitulo">colorTitulo</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorTitulo" ng-model="configuracion.colorTitulo">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorTextoLista">colorTextoLista</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorTextoLista" ng-model="configuracion.colorTextoLista">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorFondoLista">colorFondoLista</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorFondoLista" ng-model="configuracion.colorFondoLista">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorBoton">colorBoton</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorBoton" ng-model="configuracion.colorBoton">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="colorLetras">colorLetras</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
          	<div class="input-group colorpicker">
              <input type="text" class="form-control col-md-7 col-xs-12" name="colorLetras" ng-model="configuracion.colorLetras">
              <span class="input-group-addon"><i></i></span>
            </div>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="x_title">
            <h2>Editar UI del Cliente</h2>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <ul class="list-unstyled clearfix">
                <li style="float:left; width: 20%; padding: 5px;">
                    <a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" ng-click="selectTemplate($event)">
                        <div><span class="bg-light-blue" style="display:block; width: 100%; float: left; height: 10px;"></span></div><div><span style="display:block; width: 100%; float: left; height: 30px; background: #f4f5f7;"></span></div>
                    </a>
                    <p class="text-center no-margin">Blue</p>
                </li>
                <li style="float:left; width: 20%; padding: 5px;">
                    <a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" ng-click="selectTemplate($event)">
                        <div><span class="bg-purple" style="display:block; width: 100%; float: left; height: 10px;"></span></div><div><span style="display:block; width: 100%; float: left; height: 30px; background: #f4f5f7;"></span></div>
                    </a>
                    <p class="text-center no-margin">Purple</p>
                </li>
                <li style="float:left; width: 20%; padding: 5px;">
                    <a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" ng-click="selectTemplate($event)">
                        <div><span class="bg-green" style="display:block; width: 100%; float: left; height: 10px;"></span></div><div><span style="display:block; width: 100%; float: left; height: 30px; background: #f4f5f7;"></span></div>
                    </a>
                    <p class="text-center no-margin">Green</p>
                </li>
                <li style="float:left; width: 20%; padding: 5px;">
                    <a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" ng-click="selectTemplate($event)">
                        <div><span class="bg-red" style="display:block; width: 100%; float: left; height: 10px;"></span></div><div><span style="display:block; width: 100%; float: left; height: 30px; background: #f4f5f7;"></span></div>
                    </a>
                    <p class="text-center no-margin">Red</p>
                </li>
                <li style="float:left; width: 20%; padding: 5px;">
                    <a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" ng-click="selectTemplate($event)">
                        <div><span class="bg-yellow" style="display:block; width: 100%; float: left; height: 10px;"></span></div><div><span style="display:block; width: 100%; float: left; height: 30px; background: #f4f5f7;"></span></div>
                    </a>
                    <p class="text-center no-margin">Yellow</p>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label> Estilos </label>
            <textarea rows="20" class="form-control col-md-7 col-xs-12" ng-model="configuracion.css">
                {{configuracion.css}}
            </textarea>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>