<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Configuraci&oacute;n b&aacute;lsica de empresa</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="edit()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombreEmpresa">Nombre de empresa</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombreEmpresa" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="configuracion.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
        	<div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4> Email <a class="btn btn-default btn-xs" ng-click="addRelation('email')"><i class="fa fa-plus"></i></a></h4>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="mail in emailsEmpresa"  style="margin-top:10px;">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" class="form-control" ng-model="mail.descripcion">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="mail.email">
                    </div>
                    <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('email', $index)"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4> Tel&eacute;fonos <a class="btn btn-default btn-xs" ng-click="addRelation('tels')"><i class="fa fa-plus"></i></a></h4>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="tels in telsEmpresa" style="margin-top:10px;">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" class="form-control" ng-model="tels.descripcion">
                    </div>
                    <div class="form-group">
                        <label>Tel&eacute;fono</label>
                        <input type="text" class="form-control" ng-model="tels.telefono">
                    </div>
                    <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('tels', $index)"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <div class="ln_solid"></div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlAcceso">URL de acceso web</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-7 col-xs-12" ng-model="configuracion.urlAcceso">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aceptaCuponera">Acepta cuponera</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="aceptaCuponera" class="flat" ng-model="configuracion.aceptaCuponera" ng-checked="configuracion.aceptaCuponera">             
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urlLDAP">URL de servidor LDAP</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="urlLDAP" class="form-control col-md-7 col-xs-12" ng-model="configuracion.urlLdap">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="usuarioLdap">Usuario de acceso de servidor LDAP
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="usuarioLdap" class="form-control col-md-7 col-xs-12" ng-model="configuracion.usuarioLdap">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="claveLdap">Clave de acceso de servidor LDAP</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" id="claveLdap" class="form-control col-md-7 col-xs-12" ng-model="configuracion.claveLdap">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activarAcceso">Activar/desactivar acceso</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="activarAcceso" ng-model="configuracion.activo" class="flat" ng-checked="configuracion.activo">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pagoOnlineCoche">Aceptar pago online en coche</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="pagoOnlineCoche" ng-model="configuracion.pagoOnlineCoche" class="flat" ng-checked="configuracion.pagoOnlineCoche">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="reservaPasajes">Habilitar reserva de pasajes</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="reservaPasajes" ng-model="configuracion.reservaPasajes" class="flat" ng-checked="configuracion.reservaPasajes">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validesReservasHoras">Valides de reservas en horas</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="validesReservasHoras" class="form-control col-md-7 col-xs-12" ng-model="configuracion.validesReservasHoras">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="trasferirPasajes">Habilitar transferencia de pasajes</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="trasferirPasajes" ng-model="configuracion.trasferirPasajes" class="flat" ng-checked="configuracion.trasferirPasajes">
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>