 <div class="page-title">
   <div class="title_left">
     <h3>Detalle</h3>
   </div>
 </div>
 
 <div class="clearfix"></div>

 <div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
       <div class="x_content">
         <div class="col-md-7 col-sm-7 col-xs-12">
           	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
        		<ui-gmap-polyline path="recorrido.path" visible='recorrido.visible' stroke="recorrido.stroke" geodesic='recorrido.geodesic' fit="false" icons='recorrido.icons'></ui-gmap-polyline>
        	</ui-gmap-google-map>
         </div>

         <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

           <h3 class="prod_title">{{ viaje.recorrido.nombre }}</h3>

           <p>{{ viaje.fechaSalida | date : 'dd/MM/yy' }} a {{ viaje.horario }}</p>
           
           <br />
			
           <ul class="list-inline">
             <li style="width: 100%;">
             		<label>Origen</label>
                	<select class="form-control select2" style="width: 100%;" ng-model="comprar.origen" required>
                  	<option ng-repeat="recorrido in viaje.recorrido.puntosDeRecorrido" value="{{ $index }}">{{recorrido.nombre}}</option>
                	</select> 
             </li>
             <li style="width: 100%;">
             		<label>Destino</label>
                	<select class="form-control select2" style="width: 100%;" ng-model="comprar.destino" required>
                  	<option ng-repeat="recorrido in viaje.recorrido.puntosDeRecorrido" value="{{ $index }}">{{recorrido.nombre}}</option>
                	</select>
             </li>
           </ul>
             
           <br />

           <div class="">
             <div class="product_price">
               <h1 class="price">$250,5</h1>
             </div>
           </div>
           
           <br />
           
           <ul class="list-inline">
             <li style="width: 100%;">
             		<label>Usuario</label>
                	<input type="text" class="form-control col-md-7 col-xs-12" ng-model="usuario" ng-blur="buscarUsuario()">
             </li>
             <li style="width: 100%;">
	           		<label>Cedula del usuario</label>
	               	<input type="text" class="form-control col-md-7 col-xs-12" ng-model="ciUsuario">
             </li>
           </ul>

           <br />

           <div class="">
             <button type="button" class="btn btn-primary btn-lg" ng-click="procesarReservar()">Reservar</button>
             <button type="button" class="btn btn-success btn-lg pull-right" ng-click="procesarCompra()">Comprar</button>
           </div>

         </div>

       </div>
     </div>
   </div>
 </div>
