
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Editar Recorrido</h3>
    </div>
    <div class="title_right">
      <div class="pull-right">
        <a href="#/recorridos/precios/{{recorrido.id}}" class="btn btn-info">Precios</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{{recorrido.nombre}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="edit()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="recorrido.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12" class="col-md-7 col-xs-12 form-inline">
            <div id="map" class="form-inline" style="height: 400px"></div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="punto in puntosDelRecorrido" style="margin-top:10px;">
              <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" disabled="disabled" class="form-control" ng-model="punto.nombre">
              </div>
              <a class="btn btn-default" style="margin:0;" ng-click="removeRelation($index)"><i class="fa fa-remove"></i></a>
            </div>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/recorridos" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>