<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Agregar horarios de recorrido {{recorrido.horario}}</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Nuevo grupo horario</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="add()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="horario.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de horario <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" class="flat" ng-checked="horario.tipo == 'diasEspecificos'" ng-disabled="horario.id != null" name="iCheck" ng-model="horario.tipo" value="diasEspecificos"> Dias especificos
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="flat" ng-checked="horario.tipo == 'diasSemana'" ng-disabled="horario.id != null" name="iCheck" ng-model="horario.tipo" value="diasSemana"> Dias de la semana
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="horario.tipo == 'diasSemana'">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Lunes']"> Lunes
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Martes']"> Martes
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Miercoles']"> Miercoles
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Jueves']"> Jueves
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Viernes']"> Viernes
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Sabado']"> Sabado
                </label>
              </div>
            </div>
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="horario.diasSemana['Domingo']"> Domingo
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="horario.tipo == 'diasEspecificos'">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="feca">Fecha <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="fecha" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="diaEspecifico">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <a class="btn btn-default" style="margin:0;" ng-click="addRelation()"><i class="fa fa-plus"></i></a>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="hor in horariosRows" style="margin-top:10px;">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Hora <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="hora" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="hor.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
              </div>
            </div>
            <a class="btn btn-default" style="margin:0;" ng-click="removeRelation($index)"><i class="fa fa-remove"></i></a>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/recorridos/horarioslist/{{recorrido.id}}" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>