<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div>
      <h3>Horarios de Recorrido {{recorrido.nombre}}
      <div class="pull-right">
      	<a href="#/recorridos/edit/{{recorrido.id}}" class="btn btn-primary">Vovler al recorrido</a>
        <a href="#/recorridos/horariosadd/{{recorrido.id}}" class="btn btn-info">Agregar</a>
      </div>
      </h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listado de horarios</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="hor in horarios">
            <td>{{hor.nombre}}</td>
            <td>
              <div class="btn-group">
                <a href="#/recorridos/horariosedit/{{recorrido.id}}/{{hor.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>