<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>perfil</h3>
    </div>

    <div class="title_right">
      <div class="pull-right">
        <a href="#/perfil/add" class="btn btn-info">Agregar</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listado de perfiles</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Modulo 1</th>
            <th>Modulo 2</th>
            <th>Modulo 3</th>
            <th>Modulo 4</th>
            <th>Modulo 5</th>
            <th>Modulo 6</th>
            <th>Modulo 7</th>
            <th>Modulo 8</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="perfil in perfiles">
            <td>{{perfil.nombre}}</td>
            <td>{{perfil.modulo1}}</td>
            <td>{{perfil.modulo2}}</td>
            <td>{{perfil.modulo3}}</td>
            <td>{{perfil.modulo4}}</td>
            <td>{{perfil.modulo5}}</td>
            <td>{{perfil.modulo6}}</td>
            <td>{{perfil.modulo7}}</td>
            <td>{{perfil.modulo8}}</td>
            <td>
              <div class="btn-group">
                <a href="#/perfil/edit/{{perfil.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>