<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Perfiles</h3>
    </div>

    <div class="title_right">
      <div class="pull-right">
        <a href="#/perfil/add" class="btn btn-info">Agregar</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Listado de perfiles</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <table class="table table-striped responsive-utilities jambo_table bulk_action">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Gestion Encomiendas</th>
            <th>Gestion Pasajes</th>
            <th>Configuracion Empresa</th>
            <th>Gestion Reportes</th>
            <th>Mantenimiento Flota</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="perfil in perfiles">
            <td>{{perfil.nombrePerfil}}</td>
            <td>{{perfil.gestionEncomiendas}}</td>
            <td>{{perfil.gestionPasajes}}</td>
            <td>{{perfil.configuracionEmpresa}}</td>
            <td>{{perfil.gestionReportes}}</td>
            <td>{{perfil.mantenimientoFlota}}</td>
            <td>
              <div class="btn-group">
                <a href="#/perfil/edit/{{perfil.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>