<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Editar Regla de Cobro de Encomiendas</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>{{reglacobroencomienda.nombre}}</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="edit()">

        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="reglacobroencomienda.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aceptaCuponera">Precio exacto(checked) o calculo(unchecked) <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="aceptaCuponera" data-parsley-id="0978" ng-model="reglacobroencomienda.precioExactoOCalculo" ng-checked="reglacobroencomienda.precioExactoOCalculo" class="flat">             
            </label>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4> Criterios </h4>
            <a class="btn btn-default" style="margin:0;" ng-click="addRelation()"><i class="fa fa-plus"></i></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="crit in criterias" style="margin-top:10px;">
            <div class="form-group">
                <label>Operador</label>
                <input type="text" class="form-control" ng-model="crit.operador" disabled="disabled">
            </div>
            <div class="form-group">
                <label>Valor</label>
                <input type="text" class="form-control" ng-model="crit.valor" ng-disabled="criterias.length == $index + 1" ng-blur="updateNext($index)">
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input type="text" class="form-control" ng-model="crit.precio">
            </div>
            <a class="btn btn-default" style="margin:0;" ng-click="removeRelation($index)"><i class="fa fa-remove"></i></a>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/reglacobroencomienda" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>