<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Reportes</h3>
    </div>

    <div class="title_right">
      <div class="pull-right">
        <a href="#/recurso/add" class="btn btn-info">Agregar</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Reportes Diarios</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-hover table-striped">
        <thead>
          <tr>  
            <th>Numero Pasaje</th>
            <th>Ci Cliente</th>
            <th>Fecha compra</th>
            <th>Precio</th>
            <th>Destino</th>
            <th>Origen</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pasaje in pasajes">
            <td>{{pasaje.codigopasaje}}</td>
            <td>{{pasaje.cipersona}}</td>
            <td>{{pasaje.fechacompra}}</td>
            <td>{{pasaje.precio}}</td>
            <td>{{pasaje.destino_id}}</td>
            <td>{{pasaje.origen_id}}</td>
            <td>
              <div class="btn-group">
                <a href="#/vehiculos/edit/{{vehiculo.id}}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> </a>
                <a href="#/vehiculos/mantenimiento/{{vehiculo.id}}" ng-if="!vehiculo.enMantenimiento" class="btn btn-info btn-xs"><i class="fa fa-wrench"></i> </a>
                 <a class="btn btn-danger btn-xs" ng-click="borrar($index)"><i class="fa fa-trash-o"></i> </a>
                
              </div>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>