<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Reportes</h3>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Reporte diario - Pasajes Vendidos</h2>
      <div class="clearfix"></div>
    </div>
  <div class="x_content">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha Compra</th>
            <th>Cliente</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pasaje in pasajes">
            <td>{{pasaje.codigoPasaje}}</td>
            <td>{{pasaje.fechaCompra}}</td>
            <td>{{pasaje.comprador.nombrePila}}</td>
            <td>{{pasaje.origen.nombre}}</td>
            <td>{{pasaje.destino.nombre}}</td>
            <td>{{pasaje.precio.monto}}</td>
          </tr>
          </tbody>
      </table>

    </div>
  </div>
</div>
  <div class="x_title">
      <h2>Total Pasajes</h2>
      <div class="clearfix"></div>
    </div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Reporte diario - Encomiendas</h2>
      <div class="clearfix"></div>
    </div>
  <div class="x_content">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha ingreso</th>
            <th>Fecha entrega</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="encomienda in encomiendas">
            <td>{{encomienda.codigoEncomienda}}</td>
            <td>{{encomienda.fechaIngreso}}</td>
            <td>{{encomienda.fechaEntrega}}</td>
            <td>{{encomienda.origen.nombre}}</td>
            <td>{{encomienda.destino.nombre}}</td>
            <td>{{encomienda.monto}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="x_title">
      <h2>Total Encomiendas</h2>
      <label ></label>
      <div class="clearfix"></div>
</div>