<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    width: 800px;
    height: 400px;
  }
  #coords{width: 500px;}
  #coordsOrig{width: 500px;}
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Puntos de recorrido</h3>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" id="elementoParaMapa" ng-controller="puntosrecorridoCtrl">
  <div class="x_panel">
    <div class="x_title">
      <h2>Mapa de puntos de recorrido</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div id="map"></div>
      <br>
      <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" ng-submit="add()">
        <div ng-show="false" class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="ubicacionMapa" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="puntosrecorrido.ubicacionMapa"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de punto <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" class="flat" checked name="iCheck" ng-model="tipodepunto" value="Parada"> Parada
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="flat" name="iCheck" ng-model="tipodepunto" value="Terminal"> Terminal
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="puntosrecorrido.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div ng-show="tipodepunto == 'Terminal'" class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="encomiendas">Acepta encomiendas <span class="required">*</span>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="encomiendas" data-parsley-id="0978" ng-model="puntosrecorrido.aceptaEncomiendas" class="flat" checked="checked">
            </label>
          </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a href="#/puntosrecorrido" class="btn btn-primary">Cancelar</a>
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

initMap = function () {
    angular.element(document.getElementById('elementoParaMapa')).scope().initMap();
}

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVL227yFvpTa6b0oolhl3PW_BPGLFMnwI&signed_in=true&callback=initMap"></script>