<style>
  #map {
    height: 400px;
  }
</style>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="page-title">
    <div class="title_left">
      <h3>Puntos de recorrido</h3>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" id="elementoParaMapa">
  <div class="x_panel">
    <div class="x_title">
      <h2>Mapa de puntos de recorrido</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div id="map" class="col-md-12"></div>
      <br>
      <form class="form-horizontal form-label-left" novalidate="" ng-submit="addEdit()">
        <div ng-show="false" class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="ubicacionMapa" class="form-control col-md-7 col-xs-12" ng-model="puntosrecorrido.ubicacionMapa">
            <input type="text" id="ubicacionMapaOriginal" class="form-control col-md-7 col-xs-12" ng-model="ubicacionInicial">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de punto <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="radio">
              <label>
                <input type="radio" class="flat" ng-checked="tipodepunto == 'Parada'" ng-disabled="puntosrecorrido.id != null" name="iCheck" ng-model="tipodepunto" value="Parada"> Parada
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" class="flat" ng-checked="tipodepunto == 'Terminal'" ng-disabled="puntosrecorrido.id != null" name="iCheck" ng-model="tipodepunto" value="Terminal"> Terminal
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12" data-parsley-id="5536" ng-model="puntosrecorrido.nombre"><ul class="parsley-errors-list" id="parsley-id-5536"></ul>
          </div>
        </div>
        <div ng-show="tipodepunto == 'Terminal'" class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="encomiendas">Acepta encomiendas</label>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="checkbox" id="encomiendas" ng-model="puntosrecorrido.aceptaEncomiendas" class="flat" checked="checked">
          </div>
        </div>
        
        <div ng-show="tipodepunto == 'Terminal'" class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <h4> Emails <a class="btn btn-default btn-xs" ng-click="addRelation('email')"><i class="fa fa-plus"></i></a></h4>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="mail in emailsTerminal" style="margin-top:10px;">
              <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" ng-model="mail.descripcion">
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" step="0,01" class="form-control" ng-model="mail.email">
              </div>
              <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('email', $index)"><i class="fa fa-remove"></i></a>
          </div>
      </div>
      <div ng-show="tipodepunto == 'Terminal'" class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <h4> Tel&eacute;fonos <a class="btn btn-default btn-xs" ng-click="addRelation('tels')"><i class="fa fa-plus"></i></a></h4>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-inline" ng-repeat="tels in telsTerminal" style="margin-top:10px;">
              <div class="form-group">
                  <label>Descripcion</label>
                  <input type="text" class="form-control" ng-model="tels.descripcion">
              </div>
              <div class="form-group">
                  <label>Telefono</label>
                  <input type="text" step="0,01" class="form-control" ng-model="tels.telefono">
              </div>
              <a class="btn btn-default" style="margin:0;" ng-click="removeRelation('tels', $index)"><i class="fa fa-remove"></i></a>
          </div>
      </div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-success" ng-disabled="saving">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
